<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="customers-list">DataBase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'customers-list' %}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'professions-list' %}">Professions</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'create_customers' %}">Add customer</a>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'create_professions' %}">Add profession</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% for n in paginator.page_range %}
    {% if page_obj.number == n %}
    <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
    {% endif %}
    {% endfor %}
    {% if not page_obj.has_next %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="page?={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

</body>
</html>