{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h1 class="text-center mt-3">{{ title }}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Salary</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
    </tr>
    </thead>
    {% for cus in objects %}
    <tbody>
    <tr>
         <th scope="row">{{cus.id}}</th>

        <td>{{cus.first_name}}</td>
        <td>{{cus.second_name}}</td>
        <td>{{cus.birthdate}}</td>
        <td>{{cus.salary}}</td>
        <td>{{cus.created_at}}</td>
        <td>{{cus.updated_at}}</td>


     <tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

